/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

  /* 
   * Optional: Makes the sample page fill the window. 
   */
  
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
 
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
 
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
 