{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Areno - Pending Restaurants</title>

    <link rel="stylesheet" href="{% static 'css/shopping.css' %}">
    <link rel="stylesheet" href="{% static 'css/shopping2.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <main>
            <div class="navtop">
                <h2>Areno Admin</h2>
                <div class="navtop-right">
                    <a href="{% url 'adminrestaurants' %}"><button class="orangered">Approved</button></a>
                    <a href="{% url 'admindeclinedrestaurants' %}"><button class="blue">Declined</button></a>
                </div>
            </div>
            
            <section>
                <div class="admincenter">
                    <div class="centertop">
                        <div class="centertop-left">
                            <h2><span style="color: blue;">{{ pendingrestaurants_count | default:"0" }}</span> Pending Requests</h2>
                        </div>
                        <div class="centertop-right">
                            <form action="">
                                <input type="search" name="query" placeholder="search..">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="centerbottom">
                        <div class="centerleft">
                            <div class="buttondiv">
                                {% if newuserforms %}
                                <span></span>
                                {% else %}{% endif %}
                                <i class="fa-solid fa-users"></i><a href="{% url 'admin' %}"><button><b>All Users</b></button></a>
                            </div>
                            <div class="buttondiv">
                                {% if newshopforms %}
                                <span></span>
                                {% else %}{% endif %}
                                <i class="fa-solid fa-cart-shopping" ></i><a href="{% url 'adminshopping' %}"><button><b>Online Shops</b></button></a>
                            </div>
                            <div class="buttondiv">
                                {% if newrestaurantforms %}
                                <span></span>
                                {% else %}{% endif %}
                                <i class="fa-solid fa-utensils"></i><a href="{% url 'adminrestaurants' %}"><button class="buttondivselected"><b>Restaurants</b></button></a>
                            </div>
                            <div class="buttondiv">
                                {% if newhostforms %}
                                <span></span>
                                {% else %}{% endif %}
                                <i class="fa-solid fa-user"></i><a href="{% url 'adminhosts' %}"><button><b>Hosts</b></button></a>
                            </div>
                            <div class="buttondiv">
                                {% if newuserproducts or newuserfoods %}
                                <span></span>
                                {% else %}{% endif %}
                                <i class="fa-solid fa-box-open"></i><a href="{% url 'adminallitems' %}"><button><b>Item Posts</b></button></a>
                            </div>
                            <div class="buttondiv">
                                {% if newuserbookingposts %}
                                <span></span> 
                                {% else %}{% endif %}
                                <i class="fa-solid fa-list"></i><a href="{% url 'adminallbooking' %}"><button><b>Booking Posts</b></button></a>
                            </div>
                            <div class="buttondiv">
                                {% if newbnbrequests or newcarrequests %}
                                <span></span>
                                {% else %}{% endif %}
                                <i class="fa-solid fa-list"></i><a href="{% url 'adminbookingrequests' %}"><button><b>Booking Requests</b></button></a>
                            </div>
                            <div class="buttondiv">
                                {% if newquestions %}
                                <span></span>
                                {% else %}{% endif %}
                                <i class="fa-solid fa-list"></i><a href="{% url 'adminbookingquestions' %}"><button><b>Booking Questions</b></button></a>
                            </div>
                            <div class="buttondiv">
                                {% if newusermessages %}
                                <span></span>
                                {% else %}{% endif %}
                                <i class="fa-solid fa-message"></i><a href="{% url 'adminmessagepage' %}"><button><b>Messages</b></button></a>
                            </div>
                        </div>
                        <div class="centerright">
                            <div class="userlist headerlist">
                                <div class="username"><b>Name:</b></div>
                                <div class="useremail">Email:</div>
                                <div class="type"><b>Type:</b></div>
                                <div class="status"><b>status</b></div>
                                <div class="reg-date"><b>Date Submitted</b></div>
                            </div>
                            
                            <div class="centermain">
                            <!--user list-->
                            {% for pendingrestaurant in pendingrestaurants reversed %}
                                <a href="{% url 'adminuserdetails' pendingrestaurant.id %}"><div class="userlist">
                                    <div class="username"><b>{{ pendingrestaurant.businessname | default:"" }}</b></div>
                                    <div class="useremail">{{ pendingrestaurant.email | default:"" }}</div>
                                    <div class="type"><b>{{ pendingrestaurant.if_restaurantcategory | default:"" }}</b></div>
                                    <div class="pending"><b>Pending..</b></div>
                                    <div class="reg-date"><b>{{ pendingrestaurant.date | default:"" }}</b></div>
                                </div></a>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                   
                </div>
            </section>
       
        

        
        


       
        </main>
        
        
        










        <!--loader-->
        <!--loader-->
        <div class="loadingdiv" id="preloaderbg">
            <svg class="pl"  width="240" height="240" viewBox="0 0 240 240">
            <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        </svg>
        </div>


    </section>
    

   <script src="{% static 'js/loader.js' %}"></script>
</body>
</html>