{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="translate" data-en="Favourites" data-sw="Pendwa">Favourites</title>

    <link rel="stylesheet" href="{% static 'css/shopping.css' %}">
    <link rel="stylesheet" href="{% static 'css/shopping2.css' %}">
    <link rel="stylesheet" href="{% static 'css/splide.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link rel="stylesheet" href="{% static 'css/productpage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!--this is the background image display for every image PLEASE DO NOT REMOVE IT!!!-->
    <style>
        .event-image{
            background-image: url({% static 'icons/areno.logo.png' %});
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
            overflow: hidden;
        }
    </style>


</head>
<body style="background-color: rgb(243, 240, 240);">
    <section>
        <nav>
            <div class="navbar">
            <div class="logo">
                <a href="#"><h4 class="translate" data-en="Favourites" data-sw="Pendwa">Favourites</h4></a>
            </div>
            <div class="right-nav">
                <h4 class="translate" style="cursor: pointer;" onclick="goBack()" data-en="Back" data-sw="Nyuma">Back</h4>
                <a href="{% url 'index' %}"><h4 class="translate" data-en="Home" data-sw="Nyumbani">Home</h4></a>
                <a href="{% url 'booking' %}"><h4 class="translate" data-en="Booking" data-sw="Booking">Booking</h4></a>
                <a href="{% url 'bookingfavourites' %}"><h4 class="translate active" data-en="Favourites" data-sw="Pendwa">Favourites</h4></a>
                <a href="{% url 'contactareno' %}"><h4 class="translate" data-en="Contact Us" data-sw="Wasiliana Nasi">Contact Us</h4></a>
                
                {% if user.is_authenticated %}
                {% else %}
                <a href="{% url 'signup' %}"><h4 class="translate signup-top-button" data-en="Sign In" data-sw="Ingia">Sign In</h4></a>
                {% endif %}
            </div>
            </div>
            
        </nav>
        <!--search bar-->
        
        <main>
            <div class="productpagehead">
                <div class="product-detail-head">
                    
                    <div class="return" onclick="goBack()">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <div class="product-nav-head">
                        <h4 class="translate" data-en="Favourites" data-sw="Pendwa">Favourites</h4>
                    </div>
                </div>
                
            </div>
            <div class="menu ">
                <div class="menudiv home-menu">
                    <div>
                        <button class="minimize-menu">
                            <i class="fa-solid fa-x" ></i>
                        </button>
                        <div class="main-menu-content">
                            <a href="{% url 'index' %}"><div class="menu-logo">
                                <img src="{% static 'icons/Frame 304 (2).png' %}" alt="">
                            </div></a>
                            <a href="{% url 'shopping' %}"><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-cart-arrow-down"></i>
                                </button>
                                <button><p class="translate" data-en="Shopping" data-sw="Ununuzi">Shopping</p></button>
                            </div></a>
                            <a href="{% url 'restaurants' %}"><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-utensils"></i>
                                </button>
                                <button><p class="translate" data-en="Restaurants" data-sw="Migahawa">Restaurants</p></button>
                            </div></a>
                            <a href="{% url 'booking' %}"><div class="menu-title title-selected">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-book-bookmark"></i>
                                </button>
                                <button><p class="translate" data-en="Booking" data-sw="Booking">Booking</p></button>
                            </div></a>
                            <a href=""><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-truck-fast"></i>
                                </button>
                                <button><p class="translate" data-en="Logistics" data-sw="Usafirishaji">Logistics</p></button>
                            </div></a>
                            <a href="{% url 'rate' %}"><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-star"></i>
                                </button>
                                <button><p class="translate" data-en="Rate Us" data-sw="Kiwango cha sisi">Rate Us</p></button>
                            </div></a>
                            <a href="{% url 'contactareno' %}"><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </button>
                                <button><p class="translate" data-en="Contact Areno" data-sw="Wasiliana na Areno">Contact Areno</p></button>
                            </div></a>
                        </div>
                        
                        <div class="menu-about-areno">
                            <a href="{% url 'aboutus' %}"><button ><p class="translate" data-en="About Us" data-sw="Kutuhusu">About Us</p></button></a>
                            <a href="{% url 'privacypolicy' %}"><button><p class="translate" data-en="Privacy Policy" data-sw="Sera za faragha">Privacy Policy</p></button></a>
                            <a href="{% url 'refundpolicies' %}"><button><p class="translate" data-en="Refund Policy" data-sw="Sera za Marejesho">Refund Policy</p></button></a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"><button><p><b class="translate signup-menu-button" data-en="Log Out" data-sw="Ondoka">Log Out</b></p></button></a>
                            {% else %}
                            <a href="{% url 'signup' %}"><button><p><b class="translate signup-menu-button" data-en="Sign In" data-sw="Ingia">Sign In</b></p></button></a>
                            {% endif %}
                        </div>
                        <div class="languagediv">
                            <p ><b class="translate" data-en="Language" data-sw="Lugha">Language</b></p>
                            <button class="eng" id="englishBtn">Eng</button>
                            <button class="swahili" id="swahiliBtn">Swahili</button>
                        </div>
                        <!--<div class="theme">
                            <p><b class="translate" data-en="Change Theme" data-sw="Badilisha mandhari">Change Theme</b></p>
                            <div class="toggle-switch" >
                                <label class="switch-label">
                                <input type="checkbox" class="checkbox" id="darkmode">
                                <span class="slider" ></span>
                                </label>
                            </div> 
                        </div>-->
                    </div>
                    <div class="callus">
                        <a href="tel:+{{ arenodetails.phonenumber_1 | default:"" }}"><div class="call">
                            <i class="fa-solid fa-phone" style="color: white; font-size: 30px;"></i>
                        </div></a>
                    </div>
                    <div class="below-menu">
                        <div class="menu-trademark">
                            <p>© 2023. Areno Company Limited. app version 1.0.0</p>
                        </div>
                    </div>
                
                </div>
                <div class="darkside"></div>
            </div>
            <!--car rentals-->
            {% if booking_posts %}
            <div>
                <div class="allevents" style="margin-top: 20px;">
                    <div class="eventsdiv">

                        {% for post in booking_posts reversed %}
                        <div class="event eventactivity">
                            {% if post.profile %}
                            <div class="eventactprof">
                                <div class="eventprofimg-name">
                                    <div class="eventprofimg">
                                        {% if post.profile.profileimage %}
                                        <a href="{% url 'host' post.profile.id %}" ><img src="{{ post.profile.profileimage.url }}" alt=""></a>
                                        {% else %}
                                        <a href="{% url 'host' post.profile.id %}" ><img src="{% static 'icons/icons8-male-user-100.png' %}" alt=""></a>
                                        {% endif %}
                                    </div>
                                    <div class="eventprofname">
                                        <a href="{% url 'host' post.profile.id %}" ><p><b>{{ post.profile.company_name | default:"" | truncatechars:22 }}</b></p></a>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="eventactprof">
                                <div class="eventprofimg-name">
                                    <div class="eventprofimg">
                                        <img src="{% static 'icons/icons8-male-user-100.png' %}" alt="">
                                    </div>
                                    <div class="eventprofname">
                                        <p><b>Areno</b></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if post.event %}
                                <div class="event-image">
                                    {% if post.event.image %}
                                    <a href="{% url 'eventpage' post.event.id %}"><img src="{{post.event.image.url}}" alt=""></a>
                                    {% else %}{% endif %}
                                </div>
                                <div class="eventcatdetails neweventdetails">
                                    <a href="{% url 'eventpage' post.event.id %}"><p><b>{{ post.event.title | default:"" | truncatechars:28 }}</b></p></a>
                                    <div class="eventcatsave">
                                        <p >{{ post.event.location | default:"" | truncatechars:25 }}</p>
                                        <form action="{% url 'deletefavourite' post.post.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ car_rental.unique_id }}">
                                            <button type="submit" title="save"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% elif post.sport %}
                                <div class="event-image">
                                    {% if post.sport.image %}
                                    <a href="{% url 'sportpage' post.sport.id %}"><img src="{{post.sport.image.url}}" alt=""></a>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="eventcatdetails neweventdetails">
                                    <a href="{% url 'sportpage' post.sport.id %}"><p><b>{{ post.sport.title | default:"" | truncatechars:28 }}</b></p></a>
                                    <div class="eventcatsave">
                                        <p >{{ post.sport.location | default:"" | truncatechars:25 }}</p>
                                        <form action="{% url 'deletefavourite' post.post.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ car_rental.unique_id }}">
                                            <button type="submit" title="save"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% elif post.adventure %}
                                <div class="event-image">
                                    {% if post.adventure.image %}
                                    <a href="{% url 'adventurepage' post.adventure.id %}"><img src="{{post.adventure.image.url}}" alt=""></a>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="eventcatdetails neweventdetails">
                                    <a href="{% url 'adventurepage' post.adventure.id %}"><p><b>{{ post.adventure.title | default:"" | truncatechars:28 }}</b></p></a>
                                    <div class="eventcatsave">
                                        <p >{{ post.adventure.location | default:"" | truncatechars:25 }}</p>
                                        <form action="{% url 'deletefavourite' post.post.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ car_rental.unique_id }}">
                                            <button type="submit" title="save"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% elif post.car_rental %}
                                <div class="event-image">
                                    {% if post.car_rental.image %}
                                    <a href="{% url 'car_rentalpage' post.car_rental.id %}"><img src="{{post.car_rental.image.url}}" alt=""></a>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="eventcatdetails neweventdetails">
                                    <a href="{% url 'car_rentalpage' post.car_rental.id %}"><p><b>{{ post.car_rental.name | default:"" | truncatechars:28 }}</b></p></a>
                                    <div class="eventcatsave">
                                        <p >{{ post.car_rental.location | default:"" | truncatechars:25 }}</p>
                                        <form action="{% url 'deletefavourite' post.post.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ car_rental.unique_id }}">
                                            <button type="submit" title="save"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% elif post.arenobnb %}
                                <div class="event-image">
                                    {% if post.arenobnb.image %}
                                    <a href="{% url 'arenobnbpage' post.arenobnb.id %}"><img src="{{post.arenobnb.image.url}}" alt=""></a>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="eventcatdetails neweventdetails">
                                    <a href="{% url 'arenobnbpage' post.arenobnb.id %}"><p><b>{{ post.arenobnb.name | default:"" | truncatechars:28 }}</b></p></a>
                                    <div class="eventcatsave">
                                        <p >{{ post.arenobnb.location | default:"" | truncatechars:25 }}</p>
                                        <form action="{% url 'deletefavourite' post.post.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="post_id" value="{{ car_rental.unique_id }}">
                                            <button type="submit" title="save"><i class="fa-solid fa-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% else %}
                            <div class="event-image">
                                <img src="{% static 'icons/empty-booking.png' %}" alt="">
                            </div>
                            <div class="eventcatdetails neweventdetails">
                                <p><b>Uknown</b></p>
                                <div class="eventcatsave">
                                    <p >Please delete this item.</p>
                                    <form action="{% url 'deletefavourite' post.post.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ car_rental.unique_id }}">
                                        <button type="submit" title="save"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}

                    </div>
                    <!--loading animation-->
                    <div class="loadmorediv">
                        <button class="loadmore"><span class="translate" data-en="load more" data-sw="Ona zaidi">load more</span></button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="empty">
            <div class="empty-image">
                <img src="{% static 'icons/empty-booking.png' %}" alt="">
            </div>
            <p><b class="translate" data-en="Empty" data-sw="Tupu">Empty</b></p>
            </div>
            {% endif %}


            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'info' %}
            <div class="info-card"> 
                <div class="card"> 
                    <div class="header"> 
                      <div class="image">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000" d="M20 7L9.00004 18L3.99994 13"></path> </g></svg>
                       </div> 
                        <div class="content">
                           <span class="title translate"  data-en="successful!" data-sw="Umefanikiwa!">successful!</span> 
                           <p class="message translate" data-en="Post successfully added to favourites." data-sw="Umefanikiwa kuongeza kwenye hapisho pendwa.">
                            {{ message }}
                           </p> 
                        </div> 
                           <div class="actions">
                            <a href=""><button type="button" class="history"><span class="translate" data-en="Proceed" data-sw="Endelea">Proceed</span></button></a>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}


            
        </main>
       
        <!--loader-->
        <div class="loadingdiv" id="preloaderbg">
            <svg class="pl"  width="240" height="240" viewBox="0 0 240 240">
            <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        </svg>
        </div>











    </section>

   
    <script src="{% static 'js/loader.js' %}" ></script>
    <script src="{% static 'js/shoppingpage.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="{% static 'js/booking.js' %}" ></script>
    <script src="{% static 'js/language.js' %}" ></script>
    <script>
     
    </script>
    
    
</body>
</html>