
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="translate" data-en="Areno - Sports" data-sw="Areno - Michezo">Areno - Sports</title>

    <link rel="stylesheet" href="{% static 'css/shopping.css' %}">
    <link rel="stylesheet" href="{% static 'css/shopping2.css' %}">
    <link rel="stylesheet" href="{% static 'css/splide.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkmode.css' %}">
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!--this is the background image display for every image PLEASE DO NOT REMOVE IT!!!-->
    <style>
        .eventcatimage{
            background-image: url({% static 'icons/areno.logo.png' %});
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
            overflow: hidden;
        }
        .event-image{
            background-image: url({% static 'icons/areno.logo.png' %});
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
            overflow: hidden;
        }
    </style>

</head>
<body class="event-body">
    <section>
        <nav>
            <div class="navbar">
            <div class="logo">
                <a href="#"><h4 class="translate" data-en="Areno - Sports" data-sw="Areno - Michezo">Areno - Sports</h4></a>
            </div>
            <div class="right-nav">
                <a href="{% url 'booking' %}"><h4 class="translate" data-en="Booking" data-sw="Booking">Booking</h4></a>
                <a href="{% url 'sports' %}"><h4 class="translate active" data-en="Sports" data-sw="Michezo">Sports</h4></a>
                <a href="{% url 'allsports' %}"><h4 class="translate" data-en="All Sports" data-sw="Michezo Yote">All Sports</h4></a>
                <a href="{% url 'sportscategories' %}"><h4 class="translate" data-en="Categories" data-sw="Kategoria">Categories</h4></a>
                <a href="{% url 'sporthosts' %}"><h4 class="translate" data-en="Hosts" data-sw="Waratibu">Hosts</h4></a>
                <a href="{% url 'bookingfavourites' %}"><h4 class="translate" data-en="Favourites" data-sw="Pendwa">Favourites</h4></a>
                <a href="{% url 'tickets' %}"><h4 class="translate" data-en="Tickets" data-sw="Tiketi">Tickets</h4></a>
                
                {% if user.is_authenticated %}
                {% else %}
                <a href="{% url 'signup' %}"><h4 class="translate signup-top-button" data-en="Sign In" data-sw="Ingia">Sign In</h4></a>
                {% endif %}
            </div>
            </div>
            
        </nav>

        <main>
            <!--search bar-->
            
            <form action="" id="top">
                <div class="mobile-nav-head">
                    <h4 class="translate" data-en="Areno Sports" data-sw="Areno Michezo">Areno Sports</h4>
                </div>
                <div class="searchdiv">
                    <div class="nav-menu">
                        <i class="fa-solid fa-bars" ></i>
                    </div>
                        <div class="search-bar">
                            <button class="search-icon" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <input type="search" class="search-input" name="query" placeholder="Search..">
                        </div>
                        <div class="cart-notificationsdiv">
                            <a href="{% url 'bookingfavourites' %}"><div class="homebutton" style="display: flex; flex-direction: column; justify-content: center;">
                                <i class="fa-regular fa-bookmark"></i>
                            </div></a>
                        </div>
                </div>
            </form>
            <!--menu-->
            <div class="menu ">
                <div class="menudiv home-menu">
                    <div>
                        <button class="minimize-menu">
                            <i class="fa-solid fa-x" ></i>
                        </button>
                        <div class="main-menu-content">
                            <a href="{% url 'index' %}"><div class="menu-logo">
                                <img src="{% static 'icons/Frame 304 (2).png' %}" alt="" loading="lazy" >
                            </div></a>
                            <a href="{% url 'shopping' %}"><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-cart-arrow-down"></i>
                                </button>
                                <button><p class="translate" data-en="Shopping" data-sw="Ununuzi">Shopping</p></button>
                            </div></a>
                            <a href="{% url 'restaurants' %}"><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-utensils"></i>
                                </button>
                                <button><p class="translate" data-en="Restaurants" data-sw="Migahawa">Restaurants</p></button>
                            </div></a>
                            <a href="{% url 'booking' %}"><div class="menu-title title-selected">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-book-bookmark"></i>
                                </button>
                                <button><p class="translate" data-en="Booking" data-sw="Booking">Booking</p></button>
                            </div></a>
                            <a href=""><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-truck-fast"></i>
                                </button>
                                <button><p class="translate" data-en="Logistics" data-sw="Usafirishaji">Logistics</p></button>
                            </div></a>
                            <a href="{% url 'rate' %}"><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-star"></i>
                                </button>
                                <button><p class="translate" data-en="Rate Us" data-sw="Kiwango cha sisi">Rate Us</p></button>
                            </div></a>
                            <a href="{% url 'contactareno' %}"><div class="menu-title">
                                <button class="menu-title-icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </button>
                                <button><p class="translate" data-en="Contact Areno" data-sw="Wasiliana na Areno">Contact Areno</p></button>
                            </div></a>
                        </div>
                        
                        <div class="menu-about-areno">
                            <a href="{% url 'aboutus' %}"><button ><p class="translate" data-en="About Us" data-sw="Kutuhusu">About Us</p></button></a>
                            <a href="{% url 'privacypolicy' %}"><button><p class="translate" data-en="Privacy Policy" data-sw="Sera za faragha">Privacy Policy</p></button></a>
                            <a href="{% url 'refundpolicies' %}"><button><p class="translate" data-en="Refund Policy" data-sw="Sera za Marejesho">Refund Policy</p></button></a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"><button><p><b class="translate signup-menu-button" data-en="Log Out" data-sw="Ondoka">Log Out</b></p></button></a>
                            {% else %}
                            <a href="{% url 'signup' %}"><button><p><b class="translate signup-menu-button" data-en="Sign In" data-sw="Ingia">Sign In</b></p></button></a>
                            {% endif %}
                        </div>
                        <div class="languagediv">
                            <p ><b class="translate" data-en="Language" data-sw="Lugha">Language</b></p>
                            <button class="eng" id="englishBtn">Eng</button>
                            <button class="swahili" id="swahiliBtn">Swahili</button>
                        </div>
                        <!--<div class="theme">
                            <p><b class="translate" data-en="Change Theme" data-sw="Badilisha mandhari">Change Theme</b></p>
                            <div class="toggle-switch" >
                                <label class="switch-label">
                                <input type="checkbox" class="checkbox" id="darkmode">
                                <span class="slider" ></span>
                                </label>
                            </div> 
                        </div>-->
                    </div>
                    <div class="callus">
                        <a href="tel:{{ arenodetails.phonenumber_1 | default:"" }}"><div class="call">
                            <i class="fa-solid fa-phone" style="color: white; font-size: 30px;"></i>
                        </div></a>
                    </div>
                    <div class="below-menu">
                        <div class="menu-trademark">
                            <p>© 2023. Areno Company Limited. app version 1.0.0</p>
                        </div>
                    </div>
                
                </div>
                <div class="darkside"></div>
            </div>
            
            
            <!--ad section-->
            <div class="slide" style="margin-top: 20px;">
                <div class="splide-wrapper">
                    <div class="splide" id="categories-main-ad">
                        <div class="splide__track">
                            <div class="splide__list">
                                {% for bookingad in bookingads %}
                                <div class="splide__slide">
                                    <div class="adslider">
                                        {% if bookingad.image %}
                                        <a href="{{bookingad.link | default:"" }}"><img src="{{bookingad.image.url}}" alt="{{ bookingad.title | default:"" }}"></a>
                                        {% else %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% empty %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--sports-->
            <div>
                <div class="eventssliders">
                    
                    {% if footballs %}
                    <h2 class="translate" data-en="Football & Soccer" data-sw="Mpira wa Miguu">Football & Soccer</h2>
                    <div class="slide" style="margin-top: 10px;">
                        <div class="splide-wrapper">
                            <div class="splide" id="booking-categories">
                                <div class="splide__track">
                                    <div class="splide__list">
                                        {% for football in footballs reversed %}
                                        <div class="splide__slide" style="padding-bottom: 20px;">
                                            <div class="eventcategory">
                                                <div class="eventcatimage">
                                                    {% if football.image %}
                                                    <a href="{% url 'sportpage' football.id %}"><img src="{{ football.image.url }}" alt="" loading="lazy" ></a>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="eventcatdetails">
                                                    <a href="{% url 'sportpage' football.id %}"><p><b>{{ football.title | default:"" | truncatechars:28 }}</b></p></a>
                                                    <div class="eventcatsave">
                                                        <p ><span>{{ football.date | default:""  }}</span> | {{ football.location | default:"" | truncatechars:22 }}</p>
                                                        <form action="{% url 'savebookingpost' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="post_id" value="{{ football.unique_id }}">
                                                            <button type="submit" title="save"><i class="fa-regular fa-bookmark"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!--this is a dummy code to make js run please dont remove it-->
                    <div class="splide bookingsplide" id="booking-categories" style="display: none;">
                        <div class="splide__track">
                            <div class="splide__list">
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if baskets %}
                    <h2 class="translate" data-en="Basketball" data-sw="Mpira wa Kikapu">Basket Ball</h2>
                    <div class="slide" style="margin-top: 10px;">
                        <div class="splide-wrapper">
                            <div class="splide" id="secondbooking-categories">
                                <div class="splide__track">
                                    <div class="splide__list">
                                        {% for basket in baskets reversed %}
                                        <div class="splide__slide" style="padding-bottom: 20px;">
                                            <div class="eventcategory">
                                                <div class="eventcatimage">
                                                    {% if basket.image %}
                                                    <a href="{% url 'sportpage' basket.id %}"><img src="{{ basket.image.url }}" alt="" loading="lazy" ></a>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="eventcatdetails">
                                                    <a href="{% url 'sportpage' basket.id %}"><p><b>{{ basket.title | default:"" | truncatechars:28 }}</b></p></a>
                                                    <div class="eventcatsave">
                                                        <p ><span>{{ basket.date | default:""  }}</span> | {{ basket.location | default:"" | truncatechars:22 }}</p>
                                                        <form action="{% url 'savebookingpost' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="post_id" value="{{ basket.unique_id }}">
                                                            <button type="submit" title="save"><i class="fa-regular fa-bookmark"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!--this is a dummy code to make js run please dont remove it-->
                    <div class="splide bookingsplide" id="secondbooking-categories" style="display: none;">
                        <div class="splide__track">
                            <div class="splide__list">
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if volleys %}
                    <h2 class="translate" data-en="Volleyball" data-sw="Mpira wa Wavu">VolleyBall</h2>
                    <div class="slide" style="margin-top: 10px;">
                        <div class="splide-wrapper">
                            <div class="splide" id="thirdbooking-categories">
                                <div class="splide__track">
                                    <div class="splide__list">
                                        {% for volley in volleys reversed %}
                                        <div class="splide__slide" style="padding-bottom: 20px;">
                                            <div class="eventcategory">
                                                <div class="eventcatimage">
                                                    {% if volley.image %}
                                                    <a href="{% url 'sportpage' volley.id %}"><img src="{{ volley.image.url }}" alt="" loading="lazy" ></a>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="eventcatdetails">
                                                    <a href="{% url 'sportpage' volley.id %}"><p><b>{{ volley.title | default:"" | truncatechars:28 }}</b></p></a>
                                                    <div class="eventcatsave">
                                                        <p ><span>{{ volley.date | default:""  }}</span> | {{ volley.location | default:"" | truncatechars:22 }}</p>
                                                        <form action="{% url 'savebookingpost' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="post_id" value="{{ volley.unique_id }}">
                                                            <button type="submit" title="save"><i class="fa-regular fa-bookmark"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!--this is a dummy code to make js run please dont remove it-->
                    <div class="splide bookingsplide" id="thirdbooking-categories" style="display: none;">
                        <div class="splide__track">
                            <div class="splide__list">
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if tenniss %}
                    <h2 class="translate" data-en="Tennis" data-sw="Tenisi">Tennis</h2>
                    <div class="slide" style="margin-top: 10px;">
                        <div class="splide-wrapper">
                            <div class="splide" id="fourthbooking-categories">
                                <div class="splide__track">
                                    <div class="splide__list">
                                        {% for tennis in tenniss reversed %}
                                        <div class="splide__slide" style="padding-bottom: 20px;">
                                            <div class="eventcategory">
                                                <div class="eventcatimage">
                                                    {% if tennis.image %}
                                                    <a href="{% url 'sportpage' tennis.id %}"><img src="{{ tennis.image.url }}" alt="" loading="lazy" ></a>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="eventcatdetails">
                                                    <a href="{% url 'sportpage' tennis.id %}"><p><b>{{ tennis.title | default:"" | truncatechars:28 }}</b></p></a>
                                                    <div class="eventcatsave">
                                                        <p ><span>{{ tennis.date | default:""  }}</span> | {{ tennis.location | default:"" | truncatechars:22 }}</p>
                                                        <form action="{% url 'savebookingpost' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="post_id" value="{{ tennis.unique_id }}">
                                                            <button type="submit" title="save"><i class="fa-regular fa-bookmark"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!--this is a dummy code to make js run please dont remove it-->
                    <div class="splide bookingsplide" id="fourthbooking-categories" style="display: none;">
                        <div class="splide__track">
                            <div class="splide__list">
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if swimmings%}
                    <h2 class="translate" data-en="Swimming" data-sw="Kuogelea">Swimming</h2>
                    <div class="slide" style="margin-top: 10px;">
                        <div class="splide-wrapper">
                            <div class="splide" id="fifthbooking-categories">
                                <div class="splide__track">
                                    <div class="splide__list">
                                        {% for swimming in swimmings reversed %}
                                        <div class="splide__slide" style="padding-bottom: 20px;">
                                            <div class="eventcategory">
                                                <div class="eventcatimage">
                                                    {% if swimming.image %}
                                                    <a href="{% url 'sportpage' swimming.id %}"><img src="{{ swimming.image.url }}" alt="" loading="lazy" ></a>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="eventcatdetails">
                                                    <a href="{% url 'sportpage' swimming.id %}"><p><b>{{ swimming.title | default:"" | truncatechars:28 }}</b></p></a>
                                                    <div class="eventcatsave">
                                                        <p ><span>{{ swimming.date | default:""  }}</span> | {{ swimming.location | default:"" | truncatechars:22 }}</p>
                                                        <form action="{% url 'savebookingpost' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="post_id" value="{{ swimming.unique_id }}">
                                                            <button type="submit" title="save"><i class="fa-regular fa-bookmark"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!--this is a dummy code to make js run please dont remove it-->
                    <div class="splide bookingsplide" id="fifthbooking-categories" style="display: none;">
                        <div class="splide__track">
                            <div class="splide__list">
                                <div class="splide__splide">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if boxings %}
                    <h2 class="translate" data-en="Boxing" data-sw="Mchezo wa Ngumi">Boxing</h2>
                    <div class="slide" style="margin-top: 10px;">
                        <div class="splide-wrapper">
                            <div class="splide" id="sixthbooking-categories">
                                <div class="splide__track">
                                    <div class="splide__list">
                                        {% for boxing in boxings reversed %}
                                        <div class="splide__slide" style="padding-bottom: 20px;">
                                            <div class="eventcategory">
                                                <div class="eventcatimage">
                                                    {% if boxing.image %}
                                                    <a href="{% url 'sportpage' boxing.id %}"><img src="{{ boxing.image.url }}" alt="" loading="lazy" ></a>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="eventcatdetails">
                                                    <a href="{% url 'sportpage' boxing.id %}"><p><b>{{ boxing.title | default:"" | truncatechars:28 }}</b></p></a>
                                                    <div class="eventcatsave">
                                                        <p ><span>{{ boxing.date | default:""  }}</span> | {{ boxing.location | default:"" | truncatechars:22 }}</p>
                                                        <form action="{% url 'savebookingpost' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="post_id" value="{{ boxing.unique_id }}">
                                                            <button type="submit" title="save"><i class="fa-regular fa-bookmark"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!--this is a dummy code to make js run please dont remove it-->
                    <div class="splide bookingsplide" id="sixthbooking-categories" style="display: none;">
                        <div class="splide__track">
                            <div class="splide__list">
                                <div class="splide__splide">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if others %}
                    <h2 class="translate" data-en="Other" data-sw="Nyinginezo">Other</h2>
                    <div class="slide" style="margin-top: 10px;">
                        <div class="splide-wrapper">
                            <div class="splide" id="seventhbooking-categories">
                                <div class="splide__track">
                                    <div class="splide__list">
                                        {% for other in others reversed %}
                                        <div class="splide__slide" style="padding-bottom: 20px;">
                                            <div class="eventcategory">
                                                <div class="eventcatimage">
                                                    {% if other.image %}
                                                    <a href="{% url 'sportpage' other.id %}"><img src="{{other.image.url}}" alt="" loading="lazy" ></a>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="eventcatdetails">
                                                    <a href="{% url 'sportpage' other.id %}"><p><b>{{ other.title | default:"" | truncatechars:28 }}</b></p></a>
                                                    <div class="eventcatsave">
                                                        <p ><span>{{ other.date | default:""  }}</span> | {{ other.location | default:"" | truncatechars:22 }}</p>
                                                        <form action="{% url 'savebookingpost' %}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="post_id" value="{{ other.unique_id }}">
                                                            <button type="submit" title="save"><i class="fa-regular fa-bookmark"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!--this is a dummy code to make js run please dont remove it-->
                    <div class="splide bookingsplide" id="seventhbooking-categories" style="display: none;">
                        <div class="splide__track">
                            <div class="splide__list">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                </div>
                    


                {% if sports %}
                <div class="allevents">
                    <h2 class="translate" data-en="All" data-sw="Michezo Yote">All</h2>
                    <div class="eventsdiv">
                        {% for sport in sports reversed %}
                        <div class="event">
                            <div class="event-image">
                                {% if sport.image %}
                                <a href="{% url 'sportpage' sport.id %}"><img src="{{sport.image.url}}" alt="" loading="lazy" ></a>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="eventcatdetails neweventdetails">
                                <a href="{% url 'sportpage' sport.id %}"><p><b>{{ sport.title | default:"" | truncatechars:28 }}</b></p></a>
                                <div class="eventcatsave">
                                    <p ><span>{{ sport.date | default:""  }}</span> | {{ sport.location | default:"" | truncatechars:22 }}</p>
                                    <form action="{% url 'savebookingpost' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="post_id" value="{{ sport.unique_id }}">
                                        <button type="submit" title="save"><i class="fa-regular fa-bookmark"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <!--loading animation-->
                    <div class="loadmorediv">
                        <button class="loadmore">load more</button>
                    </div>
                </div>
                {% else %}
                <div class="empty">
                    <div class="empty-image">
                        <img src="{% static 'icons/empty-booking.png' %}" alt="" >
                    </div>
                    <p><b class="translate" data-en="Empty" data-sw="Tupu">Empty</b></p>
                </div>
                {% endif %}
            
            </div>

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'info' %}
            <div class="info-card"> 
                <div class="card"> 
                    <div class="header"> 
                      <div class="image">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000" d="M20 7L9.00004 18L3.99994 13"></path> </g></svg>
                       </div> 
                        <div class="content">
                           <span class="title translate"  data-en="successful!" data-sw="Umefanikiwa!">successful!</span> 
                           <p class="message translate" data-en="Post successfully added to favourites." data-sw="Umefanikiwa kuongeza kwenye hapisho pendwa.">
                            {{ message }}
                           </p> 
                        </div> 
                           <div class="actions">
                            <a href=""><button type="button" class="history"><span class="translate" data-en="Proceed" data-sw="Endelea">Proceed</span></button></a>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            

            <!--footer-->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col">
                            <h4>ARENO</h4>
                            <ul>
                                <li><a href="{% url 'aboutus' %}" class="translate" data-en="About Us" data-sw="Kutuhusu">About us</a></li>
                                <li><a href="{% url 'aboutus' %}" class="translate" data-en="Our Services" data-sw="Huduma Zetu">Our Services</a></li>
                                <li><a href="{% url 'privacypolicy' %}" class="translate" data-en="Privacy policy" data-sw="Sera za Faragha">Privacy policy</a></li>
                                <li><a href="{% url 'refundpolicies' %}" class="translate" data-en="Refund Policies" data-sw="Sera za Marejesho">Refund Policies</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4 class="translate" data-en="Useful Links" data-sw="Linki Muhimu">Useful Links</h4>
                            <ul>
                                <li><a href="{% url 'shopping' %}" class="translate" data-en="Shopping" data-sw="Manunuzi">Shopping</a></li>
                                <li><a href="{% url 'restaurants' %}" class="translate" data-en="Restaurants" data-sw="Migahawa">Restaurants</a></li>
                                <li><a href="{% url 'booking' %}" class="translate" data-en="Booking" data-sw="Booking">Booking</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}" class="translate" data-en="Log Out" data-sw="Ondoka">Log Out</a></li>
                                {% else %}
                                <li><a href="{% url 'signup' %}" class="translate" data-en="Sign In" data-sw="Jisajili">Sign In</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4 class="translate" data-en="SUPPORT" data-sw="MSAADA">SUPPORT</h4>
                            <ul>
                                <li><a href="{% url 'contactareno' %}"><span class="translate" data-en="Contact Us" data-sw="Wasiliana nasi">Contact Us</span></a></li>
                                {% if arenodetails.phonenumber_1 %}
                                <li><a href="tel: {{ arenodetails.phonenumber_1 | default:"" }}">{{ arenodetails.phonenumber_1 | default:"" }}</a></li>
                                {% else %}
                                {% endif %}
                                {% if arenodetails.phonenumber_2 %}
                                <li><a href="tel: {{ arenodetails.phonenumber_2 | default:"" }}">{{ arenodetails.phonenumber_2 | default:"" }}</a></li>
                                {% else %}
                                {% endif %}
                                {% if arenodetails.location %}
                                <li><a href="#"><i class="fa-solid fa-location-dot"></i> {{ arenodetails.location | default:"" }}</a></li>
                                {% else %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="footer-col ">
                            <h4 class="translate" data-en="Follow us" data-sw="Tufuatilie">Follow us</h4>
                            <ul style="margin-bottom: 35px;">
                                {% if arenodetails.Areno_footer_content %}
                                <li><a href="{% url 'index' %}">{{ arenodetails.Areno_footer_content | default:"" }}</a></li>
                                {% else %}
                                {% endif %}
                            </ul>
                            <div class="social-links">
                                {% if arenodetails.facebook_link %}
                                <a href="{{ arenodetails.facebook_link | default:"" }}"><i class="fab fa-facebook-f"></i></a>
                                {% else %}
                                {% endif %}
                                {% if arenodetails.twitter_x_link %}
                                <a href="{{ arenodetails.twitter_x_link | default:"" }}"><i class="fab fa-x-twitter"></i></a>
                                {% else %}
                                {% endif %}
                                {% if arenodetails.instagram_link %}
                                <a href="{{ arenodetails.instagram_link | default:"" }}"><i class="fab fa-instagram"></i></a>
                                {% else %}
                                {% endif %}
                                {% if arenodetails.whatsapp_link %}
                                <a href="{{ arenodetails.whatsapp_link | default:"" }}"><i class="fab fa-whatsapp"></i></a>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="credits">
                        <div class="line"></div>
                        <p>&copy; Copyright <strong><span>Areno Ecommerce</span></strong>. All Rights Reserved 2024</p>
                    </div>
                </div>
            </footer>

        </main>
        
        <!--mobile below navigations-->
        <div class="mobilenavigation">
            <div class="navigationsbuttons">
                <div class="rectanglenavbar">
                    <a href="{% url 'allsports' %}"><div class="mobile-nav-div">
                        <button class="mobile-nav-icon">
                            <i class="fa-solid fa-wand-magic-sparkles"></i>
                        </button>
                        <p class="translate" data-en="All Posts" data-sw="Zote">All Posts</p>
                    </div></a>
                    <a href="{% url 'sporthosts' %}"><div class="mobile-nav-div">
                        <button class="mobile-nav-icon">
                            <i class="fa-solid fa-list" ></i>
                        </button>
                        <p class="translate" data-en="Hosts" data-sw="Waratibu">Hosts</p>
                    </div></a>
                </div>
                <div class="rectanglenavbar3">
                    <div class="mobile-nav-circle">
                        <a href="{% url 'index' %}"><button class="mobile-nav-icon selected">
                            <img src="{% static 'icons/Home_fill_1.png' %}" alt="" >
                        </button></a>
                    </div>
                </div>
                <div class="rectanglenavbar2">
                    <a href="{% url 'sportscategories' %}"><div class="mobile-nav-div">
                        <button class="mobile-nav-icon ">
                            <img src="{% static 'icons/Widget.png' %}" alt="" >
                        </button>
                        <p class="translate" data-en="Categories" data-sw="Kategoria">Categories</p>
                    </div></a>
                    <a href="{% url 'sports' %}"><div class="mobile-nav-div">
                        <button class="mobile-nav-icon">
                            <i class="fa-solid fa-book-bookmark"></i>
                        </button>
                        <p class="translate" data-en="Sports" data-sw="Michezo">Sports</p>
                    </div></a>
                </div>
            </div>
            <div class="navbarpng">
                <img src="{% static 'icons/mobilenav.png' %}" alt="" >
            </div>
        </div>
        <!--loader-->
        <div class="loadingdiv" id="preloaderbg">
            <svg class="pl"  width="240" height="240" viewBox="0 0 240 240">
            <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        </svg>
        </div>












    </section>

   
    <script src="{% static 'js/loader.js' %}" ></script>
    <script src="{% static 'js/shoppingpage.js' %}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="{% static 'js/bookingsliders.js' %}" ></script>
    <script src="{% static 'js/language.js' %}" ></script>
    <script src="{% static 'js/booking.js' %}" ></script>
    <script>
     
    </script>
    
    
</body>
</html>